# step 4: gather reviews from the same restaurant

In [1]:
# load review data
import pandas as pd
review=pd.read_csv("review_with_useful_features.csv")
review.head()

,business_id,stars,text
0,nsNONDHbV7Vudqh21uicqw,1.0,Was very excited for happy hour and heard grea...
1,nsNONDHbV7Vudqh21uicqw,2.0,Seems old and tired! I ate here frequently a...
2,nsNONDHbV7Vudqh21uicqw,1.0,"Poor service, had to sit there and ask my wife..."
3,nsNONDHbV7Vudqh21uicqw,1.0,Yesterday I took my husband to eat on his birt...
4,nsNONDHbV7Vudqh21uicqw,1.0,Second and last time. Sadly I had to wait for ...

In [2]:
# load business data
business=pd.read_csv("../seafood_business.csv")
business.head()

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,0,nsNONDHbV7Vudqh21uicqw,Salt Cellar,550 N Hayden Rd,Scottsdale,AZ,85257,33.454286,-111.909405,3.5,526,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Seafood, Restaurants","{'Monday': '16:0-0:0', 'Tuesday': '16:0-0:0', ..."
1,1,F06m2yQSPHIrb1IT7heYeQ,Rainbow Kitchen,7537 S Rainbow Blvd,Las Vegas,NV,89139,36.051450,-115.244115,4.0,101,1,"{'Caters': 'True', 'RestaurantsReservations': ...","Chinese, Seafood, Cantonese, Noodles, Restaurants","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
2,2,c_FTil8s5PS2l_YJDQAXhA,Hogtown Pub & Oysters,633 College Street W,Toronto,ON,M6G 3A7,43.654804,-79.414994,4.0,50,1,"{'Ambience': ""{'touristy': False, 'hipster': F...","Restaurants, Bars, Seafood, Nightlife, Pubs","{'Monday': '16:0-1:0', 'Tuesday': '16:0-1:0', ..."
3,3,vAbRNF0hJt91oCUpm_sdKw,Buzios Seafood Restaurant,3700 W Flamingo Rd,Las Vegas,NV,89103,36.117433,-115.187379,3.5,102,0,"{'BusinessParking': ""{'garage': True, 'street'...","Restaurants, Seafood","{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'..."
4,4,z8H4Mdzl4jS9pYswj6Jf9w,Buca Yorkville,53 Scollard Street,Toronto,ON,M5R 0A1,43.672142,-79.389392,3.5,158,1,"{'Ambience': ""{'romantic': False, 'intimate': ...","Seafood, Breakfast & Brunch, Italian, Restaurants","{'Monday': '0:0-0:0', 'Tuesday': '11:30-22:0',..."

divide review data set with different restaurant

In [3]:
# get restaurant position with review index
position=[0]
bid=review['business_id'][0]
restaurant=[bid]
for i in range(len(review)):
    if (review['business_id'][i]!=bid):
        bid=review['business_id'][i]
        position.append(i)
        restaurant.append(bid)
print(position[:10])
print(restaurant[:10])

[0, 543, 646, 696, 799, 963, 1107, 1433, 1615, 1880]
['nsNONDHbV7Vudqh21uicqw', 'F06m2yQSPHIrb1IT7heYeQ', 'c_FTil8s5PS2l_YJDQAXhA', 'vAbRNF0hJt91oCUpm_sdKw', 'z8H4Mdzl4jS9pYswj6Jf9w', 'Ouh38adC9WbCRSSyYGtL3Q', 'ZCXjNG1EBFiKKMtR9DOTGg', 'arv3T_av9OoVo3SvxV4TXw', 'hCsJv234v62MgdsUU1j8dQ', 'M18VeJ8ck6Njw_pnyaRxOQ']

connect reviews from one restaurant together and then save them in a new dataframe

In [4]:
# get bind text for each restaurant
bind_text=[]
for i in range(len(position)):
    if (i < (len(position)-1)):
        bind_text.append(" connection ".join(list(review['text'][position[i]:position[i+1]])))
    else:
        bind_text.append(" connection ".join(list(review['text'][position[i]:len(review)])))

In [5]:
# build new dataframe
bind_text=pd.DataFrame(bind_text)
bind_review = pd.concat([business['business_id'],business['stars'],bind_text], axis=1)
bind_review.columns = ["business_id", "stars", "bind_text"]
bind_review.head()

,business_id,stars,bind_text
0,nsNONDHbV7Vudqh21uicqw,3.5,Was very excited for happy hour and heard grea...
1,F06m2yQSPHIrb1IT7heYeQ,4.0,A Cantonese restaurant on the southwest side o...
2,c_FTil8s5PS2l_YJDQAXhA,4.0,"Great food, friendly service, lovely atmospher..."
3,vAbRNF0hJt91oCUpm_sdKw,3.5,I'm a FAN. Loved this place. Great service a...
4,z8H4Mdzl4jS9pYswj6Jf9w,3.5,Service was really poor.\r\nMay try the King S...

In [6]:
# save new data set
bind_review.to_csv("review_bind.csv",index = False)